.App {
  text-align: center;
} 

body {
  background: #E9E9E9;
  margin: 0px;
 }

 h4 {
  cursor: pointer;
 }

 b {
  cursor: pointer;
 }

 button {
  cursor: pointer;
 }

 div {
  box-sizing: border-box;
 }

 .clear {
  clear: both;
 }

 /* 로그인 CSS */
.black-bg {
  background : rgba(0,0,0,0.5);
  padding-top: 20vw;
  position : fixed;
  top: -10%;
  width: 100vw;
  height: 200%;
  z-index: 1;
}

 .login-container {
  
  background: white;
  box-shadow: 0 0 10px 1px #000;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
 }

 .login-box {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  text-align: center;
 }

 .login-box button {
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
 }

 form input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 8px;
  border-radius: 8px;
  border: 2px solid grey;
 }

 .btn {
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
 }

 /* Navbar CSS */
 .navbar-container {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 16px;
 }

 .navbar-container h4{
  margin: 0px;
 }

 .auth h4 {
  float: right;
  margin-left: 16px;
 }

 .auth input{
  float: right;
  padding: 6px 16px;
  border-radius: 8px;
 }

 /* 회원가입 CSS */
 .join-container {
  background: white;
  box-shadow: 0 0 10px 1px #000;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 16px;
  width: 350px;
  z-index: 6;
}


.join-box {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  text-align: center;
}

.join-box button {
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
 }

/* 포스팅 리스트 CSS */
.post-container {
  text-align: center;
}

.main-box {
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 80%;
}

.post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 14.6%;
    height: 250px;
    cursor: pointer;
  }

.post-content h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.post-content h5 {
  margin-top: 3%;
}

.post-list-img {
  height: 70%;
}

.post-content img{
  border-radius: 8px;
  height: 100%;
  
}

.write-btn {
  margin-top: 10px;
  background: black;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
}

.page-btn {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: black;
  border-radius: 7px;
  padding: 4px 8px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* 포스팅 작성 CSS */
.write-box {
  border-radius: 30px;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;

}

.write-title {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
}

.write-box textarea {
  box-sizing: border-box;
  width: 100%;
  height: 20rem;
  padding: 8px 16px;
  border-radius: 8px;
}

 /* 마이페이지 정보 CSS */
 .mypage-container {
  /* border: 1px solid black; */
}

.profile-box {
  background: white;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;
}

.profile-top {
  border-bottom: 3px solid black;
  margin-bottom: 1rem;
}

.edit-btn {
  float: right;
  background: #E32C2C;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.profile-box img {
  width: 150px;
  height: 150px;
}

.profile-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
}

.profile-middle {
  text-align: center;
}

 /* 내가 작성한 포스트 CSS */
 .myposts-box {
  background: white;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 70%;
 }
 
 .myposts {
  padding-left: 1rem;
  text-align: left;
 }

 /* 포스트 디테일 css */
 .detail-box {
  background: #eee;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 1032px;
 }
 
.slide-container {
  width: 4000px;
  transition: all 1s;
}

.slide-box {
  width: 500px;
  overflow: hidden;
  float: left;
}

 .detail-box img {
  border-radius: 15px;
  width: 500px;
  float: left;
 }
 
 .detail-content {
  text-align: left;
  float: left;
  width: 500px;
  padding: 1rem;
 }

 .detail-content h3 {
  margin-bottom: 0px;
 }
 
 /* 댓글 CSS */
 .comment-container h3 {
  margin-bottom: 10px;
 }

 .comment-list {
  margin-bottom: 10px;
 }

 .comment-content h5 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  font-size: 14px;
 }

 .comment-content p {
  float: left;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 13px;
 }

 .comment-btn {
  float: right;
  padding: 0px;
  background-color: #eee;
 }

 .comment-btn button{
  font-size: 12px;
  float: right;
  font-weight: bold;
  border: none;
 }

 .comment-input {
  position: relative;
  margin-bottom: 10px;
  padding: 0px;
  width: 100%;
 }

 .comment-input input {
  position: relative;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  border-radius: 7px;
  font-size: 13px;
 }

 .comment-input button {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 13px;
  font-weight: bold;
  background: white;
  border: none;
 }
 
 @media screen and (max-width : 1200px) {
  .detail-box {
    background: #eee;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 732px;
   }

   .slide-container {
    width: 4000px;
    transition: all 1s;
  }

  .slide-box {
    width: 350px;
    overflow: hidden;
    float: left;
  }
  
   .detail-box img {
    border-radius: 15px;
    width: 350px;
    float: left;
   }
   
   .detail-content {
    text-align: left;
    float: left;
    width: 350px;
    padding: 1rem;
   }
   
  .post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 31.3%;
    height: 250px;
  }
}
 
 @media screen and (max-width : 768px) {
  .detail-box {
    background: #eee;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 332px;
   }

   .slide-container {
    width: 4000px;
    transition: all 1s;
  }

  .slide-box {
    width: 332px;
    overflow: hidden;
    float: left;
  }
  
   .detail-box img {
    border-radius: 15px;
    width: 332px;
    float: left;
   }
   
   .detail-content {
    text-align: left;
    float: left;
    width: 332px;
    padding: 1rem;
   }
   
  .post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 48%;
    height: 250px;
  }
 }

 