.App {
  text-align: center;
} 

body {
  background: #E9E9E9;
  margin: 0px;
 }

 .clear {
  clear: both;
 }

 /* 로그인 CSS */
.black-bg {
  background : rgba(0,0,0,0.5);
  position : fixed;
  width: 100vw;
  height: 100vw;
}

 .login-container {
  /* position:absolute; */
  background: white;
  box-shadow: 0 0 10px 1px #000;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  z-index: 6;
 }

 .login-box {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  text-align: center;
 }

 label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
 }

 form input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 8px;
  border-radius: 8px;
  border: 2px solid grey;
 }

 .btn {
  padding: 5px;
  border-radius: 15px;
 }

 /* Navbar CSS */
 .navbar-container {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 16px;
 }

 .navbar-container h4{
  margin: 0px;
 }

 .auth h4 {
  float: right;
  margin-left: 16px;
 }

 .auth input{
  float: right;
  padding: 6px 16px;
  border-radius: 8px;
 }

 /* 회원가입 CSS */
 .join-container {
  background: white;
  box-shadow: 0 0 10px 1px #000;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 16px;
  width: 350px;
  z-index: 6;
}


.join-box {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  text-align: center;
}

/* 포스팅 리스트 CSS */
.post-container {
  text-align: center;
}

.main-box {
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;
}

.post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 18%;
    height: 250px;
  }



.post-content h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.post-content h5 {
  margin-top: 3%;
}

.post-list-img {
  height: 70%;
}

.post-content img{
  border-radius: 8px;
  height: 100%;
  
}

.main-box button {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
}

/* 포스팅 작성 CSS */
.write-box {
  border-radius: 30px;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;

}

.write-title {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
}

.write-box textarea {
  box-sizing: border-box;
  width: 100%;
  height: 20rem;
  padding: 8px 16px;
  border-radius: 8px;
}

.write-btn {
  background: #E32C2C;
  color: white; 
  display: inline-block; 
  padding: 8px 16px;
  border-radius: 15px;
}

 /* 마이페이지 정보 CSS */
 .mypage-container {
  /* border: 1px solid black; */
}

.profile-box {
  background: white;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 70%;
}

.profile-top {
  border-bottom: 3px solid black;
  margin-bottom: 1rem;
}

.edit-btn {
  float: right;
  background: #E32C2C;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.profile-box img {
  width: 150px;
  height: 150px;
}

.profile-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
}

.profile-middle {
  text-align: center;
}

 /* 내가 작성한 포스트 CSS */
 .myposts-box {
  background: white;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 70%;
 }
 
 .myposts {
  padding-left: 1rem;
  text-align: left;
 }

 /* 포스트 디테일 css */
 .detail-box {
  background: #eee;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 1032px;
 }
 
.slide-container {
  width: 4000px;
  transition: all 1s;
}

.slide-box {
  width: 500px;
  overflow: hidden;
  float: left;
}

 .detail-box img {
  border-radius: 15px;
  width: 500px;
  float: left;
 }
 
 .detail-content {
  text-align: left;
  float: left;
  width: 500px;
  padding: 1rem;
 }

 .detail-content h3 {
  margin-bottom: 0px;
 }
 
 .post-commentList {
  width: 100%;
  float: left;
 }
 
 .comment-btn {
  width: 27%;
  background: black;
  color: white;
  border-radius: 30px;
  padding: 8px 16px;
  border-radius: 0px 8px 8px 0px;
 }
 
 .comment-input {
  box-sizing: border-box;
  width: 73%;
  padding: 8px 16px;
  border-radius: 8px 0px 0px 8px;
  margin-top: 1rem;
  margin-bottom: 10px;
 }
 
 .post-commentList img {
  background: blue;
  padding: 10px;
  border-radius: 30px;
  width: 16px;
  margin-right: 5px;
 }
 
 .post-commentList h5 {
  float: left;
  margin-top: 0;
  font-size: 15px;
 }
 
 .post-commentList label {
  float: left;
  margin-top: 0;
  margin-left: 5px;
  font-size: 14px;
 }
 
 @media screen and (max-width : 1200px) {
  .detail-box {
    background: #eee;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 732px;
   }

   .slide-container {
    width: 4000px;
    transition: all 1s;
  }

  .slide-box {
    width: 350px;
    overflow: hidden;
    float: left;
  }
  
   .detail-box img {
    border-radius: 15px;
    width: 350px;
    float: left;
   }
   
   .detail-content {
    text-align: left;
    float: left;
    width: 350px;
    padding: 1rem;
   }
   
  .post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 31.3%;
    height: 250px;
  }
}
 
 @media screen and (max-width : 768px) {
  .detail-box {
    background: #eee;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 332px;
   }

   .slide-container {
    width: 4000px;
    transition: all 1s;
  }

  .slide-box {
    width: 332px;
    overflow: hidden;
    float: left;
  }
  
   .detail-box img {
    border-radius: 15px;
    width: 332px;
    float: left;
   }
   
   .detail-content {
    text-align: left;
    float: left;
    width: 332px;
    padding: 1rem;
   }
   
  .post-content {
    overflow: hidden;
    background: white;
    border-radius: 8px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    width: 31.3%;
    height: 250px;
  }
 }